<div class="container-fluid">
	<div class="p-5">
		<section id="hero">
			<h1><strong>VLOGS.</strong></h1>
			<p>Hit our boy Jim's <a href="https://www.youtube.com/channel/UCLP-AK7PXri26G-vDtH3UQw">channel</a> with a sub as we continue our journey to be the best vloggers in the world.</p>
		</section>
		<section id="vlogs">
			<div class="embed-responsive embed-responsive-16by9">
  				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r19laVGLkQc" allowfullscreen></iframe>
			</div>
		</section>
	</div>
</div>
