<div class="container-fluid">
	<div class="p-5">
		<section id="hero">
			<h1><strong>WILL CODE FOR LOVE.</strong></h1>
			<p>Just kidding, I need money.</p>
		</section>
		<section id="name">
			<p>Hi friend! Great of you to drop by. Name's Ronald. I don't have much on here yet as I've never found the time (or motivation) to make my own website. Now I have, and as time passes, I'll fill this sucker up with content. But until then, feel free to click around and see what's already in here.</p>
			<p>Oh and if you want to see other stuff that I'm working on, check it out <a href="https://goo.gl/mjv4gx">here</a>. Don't tell anybody, it's top secret...</p>
		</section>
	</div>
</div>
